<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    {% include 'material/includes/material_css.html' %}
    <link rel="stylesheet" href=" {% static 'tinymce/css/prism.css' %} ">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="components.html">Components</a></li>
                <li><a href="javascript.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}

    {% endblock content %}

    <script src=" {% static 'tinymce/js/prism.js' %} "></script>
    {% include 'material/includes/material_js.html' %}
</body>

</html>
